<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url Shortener</title>
</head>
<body>
<h1>Login</h1>
<br>
<form method="POST" action="/user/login">
    <label for="email">Email     </label>
    <input type="text" name="email" id="email" placeholder="Enter Email">
    <br>
    <br>
    <label for="password">Password  </label>
    <input type="password" name="password" id="password" placeholder="Enter Password">
    <br>
    <br>
    <button type="submit">Login</button>

    <% if (locals.error) { %>
        <p> <%= locals.error %> </p>
    <% } %>
</form>
</body>
</html>